* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center-align items horizontally */
    min-height: 100vh;
    background: #0066AF;
    padding-top: 20px; /* Add padding to top for spacing */
}

.container, .menu-container {
    background: #9AD4FF;
    padding: 20px;
    font-family: monospace;
    width: 500px; /* Ensure consistent width */
    box-shadow: 0 0 5px #000;
    margin-bottom: 20px; /* Space between containers */
}

.project-title-container {
    position: fixed; /* Fix position to stay at top left */
    top: 20px;
    left: 20px;
    color: #FF9900;
    font-size: 75px;
    z-index: 1000; /* High z-index to ensure it's above all elements */
}
